spring:
  application:
    name: redux-crud-api
  datasource:
    url: jdbc:h2:mem:reduxdb
    username: redux
    password: maoco
    driverClassName: org.h2.Driver
  sql:
    init:
      mode: always
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true

security:
    jwt:
      secret-key: 5c923b19b1c3300db32e770084728b1dd004720ce99949f5b7be12e4634f40e7


