spring:
  application:
    name: redux-crud-api
  datasource:
    url: jdbc:h2:mem:reduxdb
    username: redux
    password: maoco
    driverClassName: org.h2.Driver
  sql:
    init:
      mode: always
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true

app:
  jwt:
    secret: ${JWT_SECRET:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}
    expiration-ms: 1800000 # 30 dakika (millisaniye)


